# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# _libgcc_mutex=0.1=main
# _openmp_mutex=5.1=1_gnu
aiohttp=3.9.5=pypi_0
aiosignal=1.3.1=pypi_0
annotated-types=0.6.0=pypi_0
anyio=4.3.0=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.2.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
bzip2=1.0.8=h5eee18b_5
ca-certificates=2024.3.11=h06a4308_0
cachetools=5.3.3=pypi_0
certifi=2024.2.2=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
dataclasses-json=0.6.4=pypi_0
deprecated=1.2.14=pypi_0
dirtyjson=1.0.8=pypi_0
distro=1.9.0=pypi_0
exceptiongroup=1.2.0=pypi_0
frozenlist=1.4.1=pypi_0
fsspec=2024.3.1=pypi_0
google-ai-generativelanguage=0.4.0=pypi_0
google-api-core=2.18.0=pypi_0
google-auth=2.29.0=pypi_0
google-generativeai=0.4.1=pypi_0
googleapis-common-protos=1.63.0=pypi_0
greenlet=3.0.3=pypi_0
grpcio=1.62.1=pypi_0
grpcio-status=1.62.1=pypi_0
h11=0.14.0=pypi_0
httpcore=1.0.5=pypi_0
httpx=0.27.0=pypi_0
idna=3.7=pypi_0
joblib=1.4.0=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.3=he6710b0_2
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
libuuid=1.41.5=h5eee18b_0
llama-index=0.10.27=pypi_0
llama-index-agent-openai=0.2.2=pypi_0
llama-index-cli=0.1.11=pypi_0
llama-index-core=0.10.29=pypi_0
llama-index-embeddings-gemini=0.1.6=pypi_0
llama-index-embeddings-openai=0.1.7=pypi_0
llama-index-indices-managed-llama-cloud=0.1.5=pypi_0
llama-index-legacy=0.9.48=pypi_0
llama-index-llms-openai=0.1.15=pypi_0
llama-index-multi-modal-llms-openai=0.1.5=pypi_0
llama-index-program-openai=0.1.5=pypi_0
llama-index-question-gen-openai=0.1.3=pypi_0
llama-index-readers-file=0.1.19=pypi_0
llama-index-readers-llama-parse=0.1.4=pypi_0
llama-parse=0.4.1=pypi_0
llamaindex-py-client=0.1.18=pypi_0
marshmallow=3.21.1=pypi_0
multidict=6.0.5=pypi_0
mypy-extensions=1.0.0=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pypi_0
networkx=3.3=pypi_0
nltk=3.8.1=pypi_0
numpy=1.26.4=pypi_0
openai=1.20.0=pypi_0
openssl=1.1.1w=h7f8727e_0
packaging=24.0=pypi_0
pandas=2.2.2=pypi_0
pillow=10.3.0=pypi_0
pip=23.3.1=py310h06a4308_0
proto-plus=1.23.0=pypi_0
protobuf=4.25.3=pypi_0
pyasn1=0.6.0=pypi_0
pyasn1-modules=0.4.0=pypi_0
pydantic=2.7.0=pypi_0
pydantic-core=2.18.1=pypi_0
pypdf=4.2.0=pypi_0
pysbd=0.3.4=pypi_0
python=3.10.0=h12debd9_5
python-dateutil=2.9.0.post0=pypi_0
pytz=2024.1=pypi_0
pyyaml=6.0.1=pypi_0
readline=8.2=h5eee18b_0
regex=2024.4.16=pypi_0
requests=2.31.0=pypi_0
rsa=4.9=pypi_0
setuptools=68.2.2=py310h06a4308_0
six=1.16.0=pypi_0
sniffio=1.3.1=pypi_0
soupsieve=2.5=pypi_0
sqlalchemy=2.0.29=pypi_0
sqlite=3.41.2=h5eee18b_0
striprtf=0.0.26=pypi_0
tenacity=8.2.3=pypi_0
tiktoken=0.6.0=pypi_0
tk=8.6.12=h1ccaba5_0
tqdm=4.66.2=pypi_0
typing-extensions=4.11.0=pypi_0
typing-inspect=0.9.0=pypi_0
tzdata=2024.1=pypi_0
urllib3=2.2.1=pypi_0
wheel=0.41.2=py310h06a4308_0
wrapt=1.16.0=pypi_0
xz=5.4.6=h5eee18b_0
yarl=1.9.4=pypi_0
zlib=1.2.13=h5eee18b_0
